
/* Dark theme*/
:root {
	--wallpaper:            rgb(  0,   0,   0);
	--background:           rgb( 15,  15,  18);
	--secondary_background: rgb( 30,  30,  40);
	--highlight:            rgb(240, 240, 255);
	--foreground:           rgb(230, 230, 240);
	--secondary_foreground: rgb(100, 100, 120);
}/*/
/* Lose your eyesight edition */
/*:root {
	--wallpaper:            rgb(200, 200, 200);
	--background:           rgb(255, 255, 255);
	--secondary_background: rgb(200, 200, 255);
	--highlight:            rgb(  0,  50,  80);
	--foreground:           rgb(  0,   0,   0);
	--secondary_foreground: rgb(100, 100, 120);
}/*/



html, body {
	min-height: 100vh;
	background-color: var(--wallpaper);
}

* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: 16px;
	color: var(--foreground);
	text-align: left;
}

a, u {
	text-decoration: none;
}

h1 {
	text-align: center;
	font-size: 36px;
	color: var(--highlight);
	border-bottom: 2px solid var(--secondary_foreground);
	padding: 8px 16px 4px 16px;
	margin: 4px 128px 4px 128px;
}

h2 {
	font-size: 24px;
	color: var(--highlight);
	border-bottom: 1px solid var(--secondary_foreground);
	padding: 8px 16px 2px 16px;
	margin: 4px 16px 4px 16px;
}

h3 {
	color: var(--highlight);
	font-weight: bold;
	padding: 8px 16px 2px 16px;
	margin: 4px 16px 4px 16px;
}

.container {
	display: flex;
	justify-content: center;
}
.content {
	background-color: var(--background);
	padding: 8px 0px 8px 0px;
	max-width: calc(960px + 8px + 8px);
	border-left:  1px solid var(--secondary_foreground);
	border-right: 1px solid var(--secondary_foreground);
}

p {
	padding: 4px 7px 2px 4px;
	margin: 4px 7px 2px 4px;
}

ul {
	margin-left: 32px;
}

img.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%
}

/* ==================================================================================================== TABS BEG*/

.tabs {
	display: flex;
}
/* Style tab links */
.tablink {
	background-color: var(--secondary_background);
	color: var(--highlight);
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	font-size: 17px;
}

	.tablink.current {
		background-color: var(--secondary_foreground);
		color: var(--secondary_background);
		font-weight: bold;
	}

	.tablink:hover {
		background-color: var(--secondary_foreground);
	}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
	color: white;
	display: none;
	padding: 100px 20px;
	height: 100%;
}
/* ==================================================================================================== TABS END*/
